.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .login__form {
    width: max-content;
    box-shadow: 0 0 20px #0005;
    padding: 20px;
    border-radius: 10px;
  }
  .login__test {
    width: 100%;
    padding: 12px 8px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .flex-login{
    display: flex;
    justify-content: space-between;
  }
  .login__title{
    margin: 10px 0;
  }
  .login__item{
    margin-bottom: 10px;
  }